body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

/* header */
.container {
    width: 1280px;
    margin: 0 auto;
}

.row-header {
    display: flex;
    height: 84px;
    align-items: center;
}

.col-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 47px;
}

.nav-logo {
    width: 122px;
}

.nav-logo-img {
    width: 122px;
    margin-left: 320px;
}

.header-nav {
    display: flex;
    gap: 32px;
}

.header-nav-item {
    font-size: 16px;
    font-weight: 600;
    color: #394149;
    text-decoration: none;
}

.col-cta_btn{
    background-color: rgba(245, 138, 7, 0.1);
    color: rgba(245, 138, 7, 1);
    font-size: 16px;
    border: 0;
    padding: 18px 30px;
    border-radius: 31px;
    font-weight: 600;
    cursor: pointer;
}

.header{
    position: relative;
    background-color: #DCEAF5;
    height: 703px;
}

.header_image{
    width: 747px;
    height: 618px;
    margin-left: 954px;
    margin-top: 85px;
}

.header_text{
    position: absolute;
    top: 117px;
    left: 325px;
}

.header_title{
    width: 576px;
    height: 144px;
    font-size: 64px;
    color: #1D3444;
    line-height: 72px;
    letter-spacing: -0.03em;
    margin-bottom: 12px;
}

.header_description{
    width: 571px;
    height: 60px;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
}
.header-btn_container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.primary-button {
    font-size: 16px;
    border: 0;
    padding: 18px 30px;
    border-radius: 31px;
    font-weight: 600;
    cursor: pointer;
    background: #F58A07;
    color: #FFFFFF;
}

.header-btn{
    color: #1D3444;
    font-size: 16px;
    margin-top: 16px;
    
}

.header_detail{
    font-size: 18px;
    line-height: 30px;
    color: rgba(57, 65, 73, 0.5);
    margin-top: 75px;
}

.header_logo{
    margin-top: 27px;
}


 /* section */
/* section_help */
.section_help{
    width: 735px;
    display: flex;
    flex-direction: column;
    margin-left: 320px;
    margin-top: 96px;
}

.section_help_title{
    font-size: 48px;
    color: #1D3444;
}

.section_help_description{
    font-size: 18px;
    color: #5B5B5B;
    margin-top: 27px;
}

.help_post{
    display: flex;
    gap: 40px;
}

.help_img{
    border-radius: 20px;
    margin-top: 64px;
}

.help_title{
    width: 257px;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 33px;
}

.help_description{
    height: 84px; 
    font-size: 16px;
    color: #5B5B5B;
    /* margin-top: 17px; */
}

.help_detail{ 
    font-size: 16px;
    color: #F58A07;
    margin-top: 24px;
}

.help_detail::after{
    content: " ⟶"; 
    color: #F58A07;
}


/* section_features */
.section_features{
    height: 665px;
    background: #EDF7FF;
    margin-top: 96px;
}

.features_text{
    display: flex;  
    gap: 40px;
}

.features_title{
    width: 619px;
    color: #0D1317;
    font-size: 36px; 
    margin-top: 96px ;
    margin-left: 320px ; 
    margin-bottom: 64px;
}

.features_description{
    width: 620px; /* avaagui*/
    font-size: 18px;
    color: #1D3444;
    margin-top: 102px;
}

.features_post{
    display: flex;
    gap: 38px;
}

.features_bg{
    background: #FFFFFF;
    border-radius: 20px;
    width: 400px;
    height: 277px;
    display: flex;
    flex-direction: column;
}

.features_img{
    width: 33px;
    height: 34px;
    margin-left: 39px;
    margin-top: 48px;
}

.features_title-post{
    font-size: 24px;
    line-height: 106.5%;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-left: 39px;
    margin-top: 32px;
    margin-bottom: 16px;
}

.features_description-post{
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
    width: 336px;
    margin-left: 39px;
}


/* section_about */
.section_about{
    display: flex;
}

.about_text{
    display: flex;
    flex-direction: column;
    margin-left: 320px;
}

.about_title{
    width: 596px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 166px;
}

.about_description{
    width: 510px;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-bottom: 48px;
}

.about_side{
    display: flex;
}

.about_img{
    height: 688px;
    margin-top: 88px;
    margin-left: 47px;
    border-radius: 30px;
    /* position: relative; */
}

.about_bg{
    width: 153px;
    height: 688px;
    margin-top: 88px;
    margin-left: 47px;
    background: #F58A07;
    mix-blend-mode: multiply;
    position: absolute;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.about_statistic{
    display: flex;
    gap: 26px;
}

.about_statistic_text-1{
    margin-left: 320px;
}

.statistic_nmbr{
    font-family: 'Inter', sans-serif;
    color: #F58A07;
    width: 66px;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 16px;
}

.statistic_title{
    width: 195px;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-bottom: 16px;
    margin-top: 0px;
}

.statistic_description{
    width: 264px;
    font-size: 16px;
    line-height: 28px;
    color: #5B5B5B;
}


/* section_service */
.section_service{ 
    height: 682px;
    background: #EDF7FF;
    border-radius: 20px;
    margin-left: 320px;
    margin-top: 96px;
}

.service_tab{
    display: flex;
    gap: 24px;
}

.service_tab-1{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #F58A07;
    padding: 8px 24px 8px 24px;

}

.service_bg-1{
    background: #FFFFFF;
    border-radius: 30px;
    margin-top: 48px;
    margin-left: 48px;
}

.service_tab-2{
    font-weight: 600;
    font-size: 16px; 
    line-height: 24px; 
    color: rgba(6, 50, 85, 0.3);
    padding: 8px 24px 8px 24px;
}

.service_bg-2{
    border: 1px solid #A8BCCC; 
    border-radius: 30px;
    margin-top: 48px;
}

.service_tab-3{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: rgba(6, 50, 85, 0.3);
    padding: 8px 24px 8px 24px;
}

.service_bg-3{
    border: 1px solid #A8BCCC;
    border-radius: 30px;
    margin-top: 48px;
}

.service_card{
    display: flex;
}

.service_img{
    width: 472px;
    margin-left: 154px;
    margin-bottom: 48px;
    margin-top: 78px;
}

.service_img-bg{
    width: 120px;
    height: 466px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px 0px 0px 20px;
    margin-left: 154px;
    margin-bottom: 48px;
    margin-top: 78px;
    position: absolute;
}

.service_post{
    display: flex;
}

.service_text{
    display: flex;
    flex-direction: column;
}

.service_title{
    width: 572px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 80px;
    margin-left: 48px;
    margin-bottom: 25px;
}

.service_description{
    width: 510px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-left: 48px;
    margin-bottom: 25px;
}

.service_btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
    margin-left: 48px;
    margin-top: 15px;
}


/* section_cta */
.section_cta{
    display: flex;
    margin-top: 128px;
}

.cta_img{
    height: 518px;
    flex-grow: 1;
}

.cta_bg{
    /* width: 960px; */
    height: 518px;
    background: #F58A07;
    flex-grow: 1;
}

.cta_title{
    width: 532px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: 128px;
    margin-left: 128px;
}

.cta_btn{
    width: 160px;
    margin-left: 128px;
    background: #FFFFFF;
    border-radius: 31px;
    color: #F58A07;
    padding: 16px 9px 16px 11px;
    margin-top: 40px;
}


/* section_video */
.section_video{
    display: flex;
}

.video_text{
    display: flex;
    flex-direction: column;
}

.video_title{
    width: 550px;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    margin-top: 206px;
    margin-left: 320px;
}

.video_description{
    width: 550px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #5B5B5B;
    margin-top: 24px;
    margin-left: 320px;
}

.video_profile{
    display: flex;
}

.video_pf_text{
    display: flex;
    flex-direction: column;
}

.video_pf_img{
    width: 80px;
    height: 80px;
    margin-left: 320px;
    margin-top: 40px;
}

.video_pf_title{
    width: 160px;
    font-size: 24px;
    line-height: 171%;
    color: #063255;
    margin-top: 46px;
    margin-left: 24px;
}

.video_pf_description{
    width: 150px;
    font-size: 18px;
    line-height: 171%;
    color: #F58A07;
    margin-left: 24px;
}

.video_detail{
    position: relative;
}

.video_img_container{
    position: relative;
}

.video_det_img{
    width: 620px;
    border-radius: 20px;
    margin-top: 128px;
    margin-left: 110px;
}

.video_det_post{
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 150px;
    justify-content: center;
    align-items: center;
}

.video_det_bg{
    width: 51px;
    height: 51px;
    background: #FFFFFF;
    border-radius: 50%;
    position: relative;
}

.video_det_icon{
    width: 17px;
    position: absolute;
    top: 16px;
    left: 18px;
}

.video_det_text{
    width: 120px;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    margin-left:17px ;
    font-family: 'Inter', sans-serif;
}


/* section_latest */
.section_latest{
    height: 819px;
    background: #DCEAF5;
    margin-top: 128px;
}

.lat_news{
    width: 453px;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.03em;
    color: #0D1317;
    padding-top: 96px;
    margin-left: 320px;
}

.help_post{
    display: flex;
}

.help_tab{
    display: flex;
    flex-direction: column;
}

.help_bg{
    width: 400px;
    height: 277px;
    background: #ffffff;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
}

.help_text{
    padding: 32px;
}

.lat_tit .lat_des{
    width: 336px;

}

.lat_img{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* .lat_des{
    margin-top: 16px;
}

.lat_det{
    margin-top: 32px;

} */




   